{% extends 'project.html' %}

{% block title %}SIH | Shibin{% endblock %}

{% block isActivePort %}active {% endblock %}

{% block heading %} SMART INDIA HACKATHON {% endblock %}
{% block body %}

<!-- ======= Portfolio Details Section ======= -->


<div class="row g-4">

  <div class="col-lg-7">
    <div class="portfolio-details-slider swiper-container">
      <div class="swiper-wrapper align-items-center">

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-2.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-3.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-2.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-1.jpg" alt="">
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="portfolio-info">
      <h3>Project information</h3>
      <ul>
        <li><strong>Organizers</strong>: SIH [Gov of India]</li>
        <li><strong>Ministry</strong>: Ministry of Ayush</li>
        <li><strong>Project date</strong>: Nov 2020</li>
        <li><strong>Duration</strong>: 5 days(hackathon) [6 months working]</li>
        <li><strong>Category</strong>: Healthcare & Biomedical Devices (IOT-VR)</li>
        <li><strong>Team</strong>: 6 members</li>
        <li><strong>Role</strong>: Team Lead</li>
        <li><strong>Prize</strong>: 1st Place [1 lakh]</li>
        <li><strong>Github</strong><a href="#">: github</a></li>
      </ul>
    </div>
  </div>
  <div class="portfolio-description">
    <h2>Yoga your way. Anywhere, anytime.</h2>
    <p class="text-justify">
      On your smartphone, you can download the NextGen App and discover a
      high-end yoga experience. Simply place your phone in the given slot in our
      headset and experience new realities with complete immersion during
      yoga.It stands true that VR devices poses risk to eyes and harmful light
      rays which arise from the mobile screens may affect the eyes of the User
      with serious complications. To avoid this, we have designed a customized
      PROTECTIVE FILTER SCREENS. This Light Rays Protective Filter (LRPF) Screen
      is placed on the either side of the biconvex lens. One LRPF Screen is
      placed posteriorly and the other one anteriorly.A customized Virtual
      Reality(VR) device is made with innovative features to improve
      concentration while doing Yoga
      The novel VR wearable device is 3D printed and a special biconvex lens and
      a headphone is attached to it.
      A smart phone used by the individual shall be fixed to the wearable device
      to provide a VR experience.
    </p>
    <ul>
      <li><b>Lightweight and durable Headset</b> - designed with flexible
        material and cotton cushion padding.</li>
      <li><b>Next Gen Lenses</b> - offering a wide field of view with
        significantly reduced glare for crystal-clear HD optics.</li>
      <li><b>LRPF filters, Inter-pupillary distance adjuster</b> - provides eye
        protection and drastically improves vision clarity.</li>
      <li><b>Inbuilt Spatial Audio</b> - discover a new dimension in sound
        through our integrated speakers.</li>
      <li><b>Pulse rate monitoring</b> - keep check of your pulse and
        temperature.</li>
      <li><b>Controller-less VR</b> - no additional devices, such as controllers
        or wires, required.</li>
      <li><b>Interactive Virtual Tutor</b> - to assist you, with voice, through
        your yoga experience.</li>
      <li><b>Gaze interaction</b> - move through VR application with just your
        eyes.</li>
      <li><b>Gyroscopic walk</b> - with just a 30’ head tilt to walk through the
        environment and experience a safe, Total Virtual Reality of 360’.</li>
      <li><b>3D Virtual Buttons</b> - for easy interaction and control with VR
        environment and characters.</li>
      <li><b>Simple UI</b> - to ensure a user-friendly experience for all ages.</li>
    </ul>
    <!--Existing products-->
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col">Existing product</th>
          <th class="text-center" scope="col">Our product</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Expensive</td>
          <td>Cost is drastically reduced as hardware components are replaced
            with software</td>
        </tr>
        <tr>
          <td>Controllers</td>
          <td>No controllers</td>
        </tr>
        <tr>
          <td>Needs a stand alone VR headset</td>
          <td>Mobile based</td>
        </tr>
        <tr>
          <td>Difficult to access
          </td>
          <td>No additional components required since mobile is easily available
            with masses
          </td>
        </tr>
        <tr>
          <td>Standard lens
          </td>
          <td>Modified lens
          </td>
        </tr>
      </tbody>
    </table>
    <h2>Additional Features</h2>
    <!--Aditional Features-->
    <table class="table table-hover table-bordered">
      <tbody>
        <tr>
          <td>Customized Lens</td>
          <td>Eye protective filter</td>
        </tr>
        <tr>
          <td>Multiple characters </td>
          <td>Depending upon users like</td>
        </tr>
        <tr>
          <td>Various Environments like </td>
          <td>House, Park, Dark-Room</td>
        </tr>
        <tr>
          <td>Fully customizable characters

          </td>
          <td>Change the appearance of characters
          </td>
        </tr>
        <tr>
          <td>Various Modes like
          </td>
          <td>Morning, Evening, Night
          </td>
        </tr>
        <tr>
          <td>Various Yogasana

          </td>
          <td>Vrikshana, Paschimottasana, Tadasana
          </td>
        </tr>
        <tr>
          <td>Voice assistance

          </td>
          <td>Commands while doing yogasana
          </td>
        </tr>
      </tbody>
    </table>
    <h2>From the Manufacturer</h2>
    <ul>
      <li>3D printed headset, designed using ABS
        (acrylonitrile-butadlene-styrene) material to specifically ensure a
        lightweight and durable product to avoid extra weight on your head and
        to prevent any breakage incase it falls. </li>
      <h6 class="mb-0 mt-2"><b>Material Prototyping</b></h6>
      <li>Using ABS significantly reduces the manufacturing cost, and hence the
        final product is highly economic.</li>
      <li>ABS filament’s properties of higher temperature resistance,
        flexibility, machinability and strength make it a preference for
        engineers and others where mechanical uses are important.</li>
      <li>The time it takes to print the entire object is less than a day.</li>
      <li>Chemical compositions: 20% acrylonitrile, 25% butadiene and 55%
        styrene. </li>
      <h6 class="mb-0 mt-2"><b>Pulse-rate Monitoring Unit</b></h6>
      <li>Using Particle-photon to real-time monitor user’s blood pressure
        level.</li>
      <li>With access to cloud data, users can view body parameters at any time
        on their mobile screen.</li>
      <li>Particle photon - IoT kit with powerful 120Mhz ARM Cortex M3
        microcontroller and inbuilt Broadcom Wi-Fi chip in a tiny
        thumbnail-sized module, access to a free cloud service of the particle
        cloud. </li>
      <h6 class="mb-0 mt-2"><b>Next Gen Lenses</b></h6>
      <li>Long hours exposure to VR can cause severe strain on the eyes and
        headaches. To curb this, we have incorporated a customised Light Ray
        Protective Filter (LRPF) on both sides of the lens.</li>
      <li>This protective filter screen would ease your eye-vision and
        significantly reduce harmful rays directly hitting your eye.</li>
      <h6 class="mb-0 mt-2"><b>Power Lenses</b></h6>
      <li>Next Gen Power lens made for use in your VR headset.</li>
      <li>These lenses are tailored to your prescription to make your visual
        experience clear and comfortable.</li>
      <li>Your custom-made lenses are of high-quality with anti-glare coating
        and protective filter screens.</li>

    </ul>
    <h5><b>FUTURE ENHANCEMENTS</b></h5>
    <ul>
      <li>
        <p class="text-danger mb-0">Virtual Tourism</p>To enable a tourism
        experience for people to explore any
        destination of their choice. Eg : under water museum.
      </li>
      <li>
        <p class="text-danger mb-0">Virtual Motivation</p>To encourage and
        motivate people by using engaging
        audio as well as visual content.
      </li>
      <li>
        <p class="text-danger mb-0">Virtual Education</p>To create an avenue to
        learn subjects like Ancient
        History, Astrophysics etc., through virtual visualizations, for users to
        gather knowledge about, which is not possible in real world.
      </li>

    </ul>
  </div>
</div>


{% endblock %}