{% extends 'project.html' %}

{% block title %}XR-PRO | Shibin{% endblock %}

{% block isActivePort %}active {% endblock %}

{% block heading %}TCS XR-PRO HACKATHON {% endblock %}
{% block body %}

<div class="row gy-4">

  <div class="col-lg-6">
    <div class="portfolio-details-slider swiper-container">
      <div class="swiper-wrapper align-items-center">

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-2.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-3.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-2.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-1.jpg" alt="">
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="portfolio-info">
      <h3>Project information</h3>
      <ul>
        <li><strong>Organizers</strong>: CII, TCS & Gov of T.N</li>
        <li><strong>Project date</strong>: Nov 2019</li>
        <li><strong>Duration</strong>: 1 day(hackathon) [3 months working]</li>
        <li><strong>Category</strong>: Extended Reality</li>
        <li><strong>Team</strong>: 2 members</li>
        <li><strong>Role</strong>: Team Lead</li>
        <li><strong>Prize</strong>: 3rd Place [2 lakh]</li>
        <li><strong>Github</strong><a href="#">: github</a></li>
      </ul>
    </div>
  </div>
  <div class="portfolio-description">
    <h2>Implementation of AR in Schools and Industries</h2>
    <p>
      AR is a variation of virtual reality However unlike VR where users are
      brought into a virtual/synthetic environment, AR merges virtual objects
      with the real world. Hence AR is supporting the real world rather than
      replacing it with synthetic environment. AR can be used in learning to
      enhance student motivation and attention, in addition to that the student
      interaction with AR objects improves their understanding and memory. By
      creating the magical feeling of a 3D object appearing on top of the
      physical world, AR gains and keeps the attention of students that is
      difficult in other form of education. The usage of AR in the education for
      students could help to capture their attention and encourage more active
      participation from the students.
    </p>
    <h6><b>KEY FEATURES OF AUGMENTED REALITY </b></h6>
    <ul>
      <li>Creates a world within a world!! </li>
      <li>
        Enables function in any terrain.
      </li>
      <li>
        Connects real world and virtual world.
      </li>
      <li>
        Supports your real world with digital objects of any sort.
      </li>
      <li>
        Augmented by computer-generated database of real-world environment.
      </li>
    </ul>
    <h6><b>Studies for school and college students for better understanding</b></h6>
    <p>
      As augmented reality can be used as a tool for gamified learning, it has the potential to assist as a motivational
      asset and It has a vast usage in studies so it can be implemented in school and college students text books and on
      ground plane. Augmented Reality can be customized according to the need of the learning requirement from
      elementary schooling level and can be extended up to Engineering domain level. By using Vuforia the target is set
      as the text book or even as Ground Plain and the 3d models are uploaded for each target and when the student views
      the base target in the textbook using his AR camera the 3d model of the image can be viewed. And by giving
      animation to 3d model the exact working of the 3d model can be added and the student can view the working of it in
      all directing unlike a video all directions can be viewed in every frame.
      By implementing audio for each animation it looks like a video which can be viewed in multi directional and in
      high quality. These audio alone can be changed according to various languages and other content can be kept
      constant so that the size of the application is reduced to great extent. The students would read the book with the
      augmented reality system projecting scenes over the physical pages that were enhanced with audio and a voiced
      narrative by the author of the book. AUGMENTED REALITY BRINGS
    </p>
    <li>Fun:The student must enjoy using the system. </li>
    <li>Challenge:The student must have some sort of objective to complete with the system.</li>
    <li>Curiosity —The system must stimulate the student to further explore the topic.</li>
    </ul>
    <h6><b>Student Training, Virtual Laboratory and Inspection</b></h6>
    <p>
      Augmented Reality can be used to train a new students who have no experience in the field, When a student joins he
      has no idea about the advance and unique machines in some cases they haven’t seen so it can be used by the student
      to learn abut the machine and its various parts without disassembling the machine in an augmented environment and
      train himself by without the help of others, he can train himself even at home by just using his mobile so he
      doesn’t need to go to he machine each time to clarify his doubts. This can be done with just a mobile but when the
      hardware is further developed the following use cases can be achieved. AR is able to overcome the problem of
      broken experiment equipment, and the students can conduct experiments in a safer environment using IOT. AR also
      breaks the space and time boundary and allows the object of study to be brought up to life.
    </p>
    <ul>
      <li><b>Virtual Inspection</b></li>
      <p>
        Automatically generated boundaries of the detected defects are comparing with the point cloud data describing
        the actual requirement of the real time object. The result of the assessment is documented in the digital model
        for each defect. The entire process is carried out based on the model and no human-object interaction takes
        place.
      </p>
      <li><b>Assembly process guidance</b></li>
      <p>
        Maintenance processes are characterized by a high percentage of manual work steps and small lot sizes. During
        the process, information such as optimal processing strategies or machine parameters can be displayed to the
        worker through AR. In this case, extensive bidirectional communication takes place between the human worker and
        the physical system, resulting in a high level of interaction between human and object: the worker manually
        assembles the physical system and gets information about the process by monitoring it and by receiving feedback
        through process parameters.
      </p>
    </ul>
    <h6><b>WORKING METHODOLOGY </b></h6>
    <div class="text-justify">
      <p>
        The potential of AR systems for can be classified into three groups: Object, model and human. The Objects are all
        the non-human real-world assets (workpieces, tools, environment.). The Model contains all the virtual assets
        (process model, documentation, design drawings). The Human is the Student to be supported by the AR system. The AR
        provides an enhanced interface between digital data and human, due to improved visualization and controls. The
        objects will be actual 3D models viewed by the student made of model with lighting and animation Its simply the
        model with Animation, Lighting and User Interface. The model will be a CAD model of a specific BASE TARGET,
        documentation, design drawing. Human will be eliminated in this context as the entire process can be automated.
        The AR model can be further used to train human workers by creating virtual models of different objects and adding
        the technical specifications and various functionals.
      </p>

    </div>

    <p>
      SOLIDWORKS is used to design a 3D model and then the model is exported in FBX format. FBX format of the model is
      then imported in MAYA and the required animation in given the model and again the model is exported in FBX format
      with the animation and the model is kept imported in UNITY 3D.By using VUFORIA an AR Tool Kit the base
      target(using image) or Ground Target(using ground) or User Defined Target (using any base target) for devices that
      does not support Ground detection. The programming for the application is done using VISUAL STUDIO the program
      used is C# developed by Microsoft. All of these is imported separately in same project in Unity 3D andAPK is
      developed using Android SDK and Android Studio.
    </p>
  </div>
</div>
{% endblock %}