{% extends 'project.html' %}

{% block title %}IFA | Shibin{% endblock %}

{% block isActivePort %}active {% endblock %}

{% block heading %}IFA HACKATHON {% endblock %}
{% block body %}

<div class="row gy-4">

  <div class="col-lg-6">
    <div class="portfolio-details-slider swiper-container">
      <div class="swiper-wrapper align-items-center">

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-2.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-3.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-2.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-1.jpg" alt="">
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="portfolio-info">
      <h3>Project information</h3>
      <ul>
        <li><strong>Organizers</strong>: IFA, Makerstribe</li>
        <li><strong>Project date</strong>: Oct 2019</li>
        <li><strong>Duration</strong>: 2 day(hackathon) [3 months working]</li>
        <li><strong>Category</strong>:IOTAR</li>
        <li><strong>Team</strong>: 4 members</li>
        <li><strong>Role</strong>: Team Lead</li>
        <li><strong>Prize</strong>: 3rd Place [5000/-]</li>
        <li><strong>Github</strong><a href="#">: github</a></li>
      </ul>
    </div>
  </div>
  <div class="portfolio-description">
    <h2 class="mb-0">Implementing IOTAR in Education</h2>
    <ul>
      <li>In our country we have countless opportunities to explore but we need incorporate modern technology to
        implement
        improved quality in standards of learning.</li>
      <li>Starting down from the ancient times, our country has a rich heritage in learning process.</li>
      <li>Be it an industry or a personalised learning at school education level NxtGen incorporate modern technology in
        learning, which can increase and kindle curiosity in the hearts of the learners.</li>
      <li>To make a new trend in the learning style of learners across all arena NxtGen gives a new remake to all of the
        present content available.</li>
    </ul>
    <h2 class="mb-1">Project Description:</h2>
    <p>
      NxtGen aims to provide new exposure and conscience in learning through AR/VR/XR. The project is developed as an
      Android Application which can be used to enable users learn in an immersive way. The users are exposed to the
      mixture of virtual reality through different context. These technologies are used to address and pitch solution
      for difficulty faced by learners in learning process and provide gamified learning content.
      Technological advances in Virtual Reality (VR) and Augmented Reality (AR) offer new immersive training systems
      through XR. These technologies can be adapted by organizations to boost employee retention as well as give new
      trainees access to real-world scenarios in a safe digital environment. Training can be undertaken through the
      application. Even complex and intricate training simulations which are in unsafe environments in physical world
      can be enabled in safe digital environments, thus improving the overall training standards. On the other hand,
      this application helps young learners to increase their understanding content through immersive 3D visual
      experience. Learning a concept visually can increase the motivational asset of the learners. It kindles the
      curiosity in their minds and hearts to learn more effectively. Complex concepts can be simplified through 3D
      animated and interactive visuals. Thus, through these domains the knowledge domain of the learners is increased.
      While learning the learners are exposed to Fun, Challenge and Curiosity. The gamified learning program is designed
      in categorized modules in order to suit real time usage in any environment with external motion controllers being
      optional.
    </p>
    <h2 class="mb-0">INNOVATION</h2>
    <ul>
      <li>
        Easily accessible mobile application
      </li>
      <li>Voice Assistance and commands</li>
      <li>Interactive AR and VR experience</li>
      <li>Control 3D object with Augmented\Virtual buttons</li>
      <li>Simple UI with virtual buttons</li>
      <li>Place the model anywhere in 3D space</li>
      <li>Walk around and Control the virtual world</li>
      <li>Expandable Azure Cloud Storage</li>
    </ul>
    <h2 class="mb-0">CONCLUSION</h2>
    <ul>
      <li>XR is facilitated through mobile phone.AR is a technology that is not just very cutting- edge but can also be
        made extremely affordable and accessible for masses. It works on just mobile phone and an app, both of which are
        available with the masses. The idea is to impact as many learners through this powerful learning experience and
        reach out to every user. Efficient using of the product to enable the user enjoy using the product. </li>
      <li> The current education system is a passive and non-interactive learning environment where many of the learners
        are disengaged. Learning through augmented reality leads to higher levels of engagement, leading to enhanced
        learning experience and consequently better learning outcomes. It is the most effective way to reach out to all
        types of learners, each having a unique pace of learning and understanding.
      </li>
      <li>
        NXT GEN brings XR that is not alone a cutting-edge technology, but also can be made economically affordable and accessible for everyone. The main idea is to reach out and create an impact of each learner who dreams of learning  through heartful enjoyment and fun intensive!
      </li>
    </ul>
  </div>

</div>

{% endblock %}