{% extends 'project.html' %}
{% block title %}T1 Hacks | Shibin{% endblock %}

{% block isActivePort %}active {% endblock %}

{% block heading %}T1 HACKS {% endblock %}
{% block body %}

<div class="row gy-4">

  <div class="col-lg-8">
    <div class="portfolio-details-slider swiper-container">
      <div class="swiper-wrapper align-items-center">

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-2.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-3.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-2.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/assets/assets/img/portfolio/portfolio-1.jpg" alt="">
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="portfolio-info">
      <h3>Project information</h3>
      <ul>
        <li><strong>Organizers</strong>: SKCET Placement cell</li>
        <li><strong>Project date</strong>: Sep 2020</li>
        <li><strong>Duration</strong>: 2 Days</li>
        <li><strong>Category</strong>: Virtual Reality</li>
        <li><strong>Team</strong>: 4 members</li>
        <li><strong>Role</strong>: Team Lead</li>
        <li><strong>Prize</strong>: 1st Place</li>
        <li><strong>Github</strong><a href="#">: github</a></li>
      </ul>
    </div>
  </div>
  <div class="portfolio-description">
    <h2>Virtual Reality Underground Museum</h2>
    <ul>
      <li> A customised Virtual Reality(VR) device is made with innovative features to improve concentration while doing
        Yoga.
      </li>
      <li>The novel VR wearable device is 3D printed and a special biconvex lens and a headphone is attached to it.
      </li>
      <li>A smart phone used by the individual shall be fixed to the wearable device to provide an immersive VR
        experience.
      </li>
    </ul>
    <h6><b>Problem Statement</b></h6>
    <ul>
      <li> Andaman Nicobar Islands is a place of historical as well as tourist importance.
      </li>
      <li>
        Tourism being the only prime industry in these Islands has lot of potential and opportunity and technology can
        play a major role in attracting tourists to a large extent.
      </li>
      <li>
        Immersive real-life experience through technology like Virtual Reality of the scenic extravaganza and
        under-water wonders of vivid flora and fauna which are displayed in the museums, would certainly give a new
        dimension to the tourists in realizing the beauty of these Islands.
      </li>
      <li>
        No such VR App is being used as on date for the tourist visiting Islands.
      </li>
    </ul>
    <h6><b>SOLUTION</b></h6>
    <p>
      We have developed an mobile application which is supported in both android and ios mobile phones, which will bring the immersive real life experience of the scenic extravaganza and under water wonders of vivid floara and fauna, which the people can feel it through virtual reality goggles from anywhere in the world.
    </p>

</div>
{% endblock %}