{% extends 'base.html' %} 

{% block title %}Index | Shibin{% endblock %}

{% block isActiveHome %}active{% endblock %}


{% block body %} 
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100" style="color: black;">
      <h1 style="color: black;">Shibin Thomas S</h1>
      <h2 class="m-0" style="color: black;">Robotics & Automation Enthusiast </h2>
      <h2 class="m-0" style="color: black;">Python Developer | AR/VR | ML/DL </h2>
      <h2 class="m-0" style="color: black;">Appian Consultant </h2>

      <a href="../about" class="mt-3 btn-about">About Me</a>
    </div>
  </section><!-- End Hero -->
                            
  {% endblock %}